<h3>Listing Links</h3>
<span>1</span>
<ul>
  <% @links.each do |l| %>
    <%= div_for l do%>
      <li><%= link_to 'Delete', l, method: :delete, class: 'delete_link', remote: true %> - <%= auto_link(l.link) %></li>
    <% end %>  
  <% end %>
</ul>

<br />

<%= render 'form' %>